<!DOCTYPE html>
<html>
<head>
    <title>Available Rides</title>
</head>
<body>

    <!-- Add this logout form -->
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

    <h1>Available Rides</h1>

    {% for ride in rides %}
        <p>{{ ride.pickup }} to {{ ride.drop_location }} - Status: {{ ride.status }}</p>
    {% empty %}
        <p>No rides available right now.</p>
    {% endfor %}
    <p>Welcome,{{ request.user.userprofile.role}}!
         you are logged in as {{ request.user.userprofile.role }}</p>

</body>
</html>